#btn{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 250px;
    background-color: blue;
    color: white;
    border-radius: 50px;
    font-size: larger;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    

}
#quotes{
    display: inline;
    color: white;
    border: 1px solid white;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}